body{
    background-color: azure;
    padding: 10px;
}

.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(28, 27, 33);
    text-decoration: none;
    
}

#sideBar{
    background-color: white;
    width: 20vw;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.302), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: background-color 2s;
    overflow-x: hidden;
    transition: width 0.5s,padding 0.5s;
    position: fixed;
    padding: 10px;
    margin: 0;
    top: 0;
    left: 0;
    height: 96vh;
    z-index: 10;
}


.sideBarBtn{
    background-color: #b3ffff;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    bottom: 0;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.302), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.sideBarBtn:hover{
    background-color: #7df9ff;
}

.tableBtn{
    border:0;
    background-color: inherit;
    margin: 0px;
    padding: 5px;
    width: inherit;
    text-decoration: none;
}
.tableBtn:hover{
    background-color: #dddddd;
}
.tableList{
    list-style-image: url(images/table_icon.png);
    margin-top: 30px;

}