body{
    background-color: rgb(240, 255, 255);
    display: flex;
    
}

.image{
    filter: blur();
}

.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    color: #004953;
    margin: 5px;
    flex-grow: 1;
}

.marked-text{
    text-decoration: line-through;
}

.addListBtn{
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.todoDiv{
    display: flex;
    background-color: #b2ffff;
    margin: 4px;
    border-radius: 20px;
    padding: 10px;
    width: 290px;
}
.todoDiv:hover{
    background-color: #7df9ff;
}
.checked{
    background-color: #7df9ff;
    box-shadow:none;
}

.checkbox {
    width:25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    flex-shrink: 0;
  }
.checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
}


.delBtn{
    height: 20px;
    width: 17px;
    position: absolute;
    margin-top: 6px;
    margin-left: 270px;
}

.addTodo{
    height: 30px;
    width: 30px;
    margin:20px;
}

.listDiv{
    width: 290px;
    margin:20px;
    flex-shrink: 0;
    display:block;
}


.listHeaderDiv{
    display: flex;
}
.delListBtn{
    width:17px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.depth{
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.302), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#saveBtn{
    position: fixed;
    bottom:1%;
    left: 50%;
}