body{
    align-items: center;
    background-color: #f0ffff;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    position: absolute;
}

.Text{
    font-family: 'Roboto' ,sans-serif;
    font-style: normal;
    color:white;
}

.To_Do_Title{
    padding: 0px;
    margin: 12px;
}

.del_btn{
    float: right;
    position: absolute;
    margin-left: 270px;
    margin-top: 16px;
    height: 20px;
    width: 20px;
}

.To_Do_div{
    background-color: #3A1078;
    border-radius: 20px;

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.302), 0 15px 12px rgba(0, 0, 0, 0.22);
    
    height: 50px;
    width: 300px;

    margin: 10px;
    
    display: flex;

    cursor: pointer;
}

.checked{
    text-decoration: line-through;
    background-color: #4E31AA;
}


.To_Do_div:hover{
    background-color: #4E31AA;
}

.checkbox{
    appearance: none;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    margin-top: 12px;
    margin-left: 10px;

}
.checkbox:checked{
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
}
textarea{
    resize: none;
    border-radius: 10px;
    background-color:#ffffff;
    border:solid #2b2a33 1px;
    
}